
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BusOwnerLayout .cshtml";
}


<main>
    <section>
        <article>
            <h2 class="text-white px-5 py-2">Welcome, @Session["username"]</h2>
        </article>

    </section>

</main>