@model Circular_Bus_App.Models.Database.User
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}

<h1 class=" label-success" align="center">Hi, @Session["username"]! You are Successfully LoggedIn! </h1>

<h2 class="label-info" align="center"> Welcome to KURATOLI CHAKA!   </h2>

